@**
  
  Project SmartWASM
  Copyright (C) 2023 Alessio Saltarin
  MIT License 
  
 **@

@inherits LayoutComponentBase

<div class="page">
    <nav>
        <NavMenu />
    </nav>
    <main class="container m-5 p-1">
        @Body
    </main>
</div>